services:
  core-apiserver:
    image: vsrecorder/core-apiserver:latest
    restart: always
    network_mode: "host"
    ports:
      - 8914:8914
    environment:
      - TZ=Asia/Tokyo
      - VSRECORDER_JWT_SECRET=${VSRECORDER_JWT_SECRET}
      - DB_HOSTNAME=${DB_HOSTNAME}
      - DB_PORT=${DB_PORT}
      - DB_USER_NAME=${DB_USER_NAME}
      - DB_USER_PASSWORD=${DB_USER_PASSWORD}
      - DB_NAME=${DB_NAME}
      - AWS_REGION=${AWS_REGION}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
